<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/ClockStoreCss/style.css">
    <link rel="stylesheet" href="~/Content/ClockStoreCss/detail.css">
    <link rel="stylesheet" href="~/Content/ClockStoreCss/responsive.css">
    <link rel="stylesheet" href="~/Content/ClockStoreCss/ThemeCart.css">
    <link rel="stylesheet" href="~/Content/ClockStoreCss/giohang.css">
    @*    <link href="~/Content/ClockStoreCss/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/ClockStoreCss/shop-homepage.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="~/images/LOGO1.png" type="image/x-icon" />

</head>
<body>
    <style>
        center {
            display: none;
        }
    </style>
    <div class="main">
        <div id="header" style="z-index: 10 !important;">
            <ul id="nav">
                <li>
                    @Html.ActionLink("Trang chủ", "IndexAfter", "User")
                </li>
                <li>
                    <a href="#">Hãng </a>
                    <ul class="subnav">
                        @Html.Action("Hang", "User")
                    </ul>
                </li>
                <li>
                    <a href="#">Loại</a>
                    <ul class="subnav">
                        @Html.Action("Loai", "User")
                    </ul>
                </li>
                <li><a href="https://goo.gl/maps/Gx1em5MJjvHZjdwq7">Địa chỉ<i class="icon-cont ti-location-pin"></i></a></li>
                <li>
                    @*<a href="#">Giỏ hàng <i class="icon-shopping ti-shopping-cart"></i></a>*@
                    @Html.Action("GiohangPartial", "Giohang")
                </li>
                <li><a href="#contact">Hỗ trợ <i class="icon-help ti-headphone-alt"></i></a></li>
            </ul>
            <div id="mobile-menu" class="mobile-menu-btn">
                <i class="menu-icon ti-menu"></i>
            </div>
            <!-- begin search button -->
        </div>

        <div>
            @RenderBody()
        </div>

        @*        <div id="footer">
                <div class="social-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>
                    <a href=""><i class="ti-youtube"></i></a>
                    <a href=""><i class="ti-pinterest"></i></a>
                    <a href=""><i class="ti-twitter"></i></a>
                    <a href=""><i class="ti-linkedin"></i></a>
                </div>
                <p class="copyright">Copyright © 2023  TDK Team. All rights reserved.</p>
            </div>*@
    </div>

</body>
</html>



